.radio-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: .25rem;

  padding: .25rem;
  border-radius: .5rem;
  border: 1px solid var(--input-stroke);
  background-color: var(--input-base);
}

.radio-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;

  padding: 0.620rem 1.125rem;

  position: relative;

  & label {
    margin: 0;
  } 

  & input, 
  & input:hover, 
  & input:focus {
    all: unset;
    position: absolute;
    inset: 0;
    cursor: pointer;
  }

  &:has(:checked) {
    border-radius: .25rem;
    background-color: var(--shape-button);

    & label {
      color: var(--text-heading);
    }

    & svg path {
      fill: var(--brand-light);
    }
  }
}